################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WLYD.TSS.BusinessDomain/obj
/.vs/WLYD.TSS
/WLYD.TSS.BusinessModel/obj
/WLYD.TSS.Core/obj
/WLYD.TSS.CPortalApi/obj
/WLYD.TSS.DataAccess/obj
/WLYD.TSS.DataInit/obj
/WLYD.TSS.Job/obj
/WLYD.TSS.MPortalApi/obj
/WLYD.TSS.MQ/obj
/WLYD.TSS.UnitTest/obj
/WLYD.TSS.WebAPI/obj
/WLYD.TSS.BusinessDomain/bin/Debug/netcoreapp2.2
/WLYD.TSS.BusinessModel/bin/Debug/netcoreapp2.2
/WLYD.TSS.Core/bin/Debug/netcoreapp2.2
/WLYD.TSS.CPortalApi/bin/Debug/netcoreapp2.2
/WLYD.TSS.DataAccess/bin/Debug/netcoreapp2.2
/WLYD.TSS.DataInit/bin/Debug/netcoreapp2.2
/WLYD.TSS.Job/bin/Debug/netcoreapp2.2
/WLYD.TSS.MPortalApi/bin/Debug/netcoreapp2.2
/WLYD.TSS.MQ/bin/Debug/netcoreapp2.2
/WLYD.TSS.UnitTest/bin/Debug/netcoreapp2.2
/WLYD.TSS.WebAPI/bin/Debug/netcoreapp2.2
/WLYD.TSS.CPortal/node_modules
/WLYD.TSS.CPortalApi/Logger
/.vs/config
/WLYD.Core/bin/Debug/netcoreapp2.2
/WLYD.Core/obj/Debug/netcoreapp2.2
/WLYD.Core/obj
/WLYD.TSS.BusinessDomain/bin/Release/netcoreapp2.2
/WLYD.TSS.BusinessModel/bin/Release/netcoreapp2.2
/WLYD.TSS.Core/bin/Release/netcoreapp2.2
/WLYD.TSS.DataAccess/bin/Release/netcoreapp2.2
/WLYD.TSS.Down.MQ/bin/Debug/netcoreapp2.2
/WLYD.TSS.Down.MQ/obj/Debug/netcoreapp2.2
/WLYD.TSS.Down.MQ/obj
/WLYD.TSS.Local.MQ/bin/Debug/netcoreapp2.2
/WLYD.TSS.Local.MQ/obj
/WLYD.TSS.MPortalApi/bin/Release/netcoreapp2.2
/WLYD.TSS.MPortalApi/Logger
/WLYD.TSS.MPortalApi/wwwroot
/WLYD.TSS.Up.MQ/bin/Debug/netcoreapp2.2
/WLYD.TSS.Up.MQ/obj/Debug/netcoreapp2.2
/WLYD.TSS.Up.MQ/obj
/发布/mportal/publish
/.vs
/WLYD.TSS.MPortalApi/Logger
/WLYD.TSS.BusinessDomain/bin/Release/netcoreapp2.2
/WLYD.TSS.BusinessModel/bin/Release/netcoreapp2.2
/WLYD.TSS.Core/bin/Release/netcoreapp2.2
/WLYD.TSS.CPortalApi/bin/Release/netcoreapp2.2
/WLYD.TSS.DataAccess/bin/Release/netcoreapp2.2
/WLYD.TSS.DataInit/bin/Release/netcoreapp2.2
/WLYD.TSS.Job/bin/Release/netcoreapp2.2
/WLYD.TSS.MPortalApi/bin/Release/netcoreapp2.2
/WLYD.TSS.MQ/bin/Release/netcoreapp2.2
/发布/cportal/publish
/发布/job/publish
/发布/mportal/publish
/发布/mq/publish
/发布/webapi/publish
/WLYD.TSS.CPortalApi/AuthFileDic/Temp/2019-11-26
/WLYD.TSS.WebAPI/Logger
/WLYD.TSS.MPortalApi/AuthFileDic/Upload/Files/201911
/WLYD.TSS.CPortalApi/AuthFileDic/Temp/2019-11-27
/WLYD.TSS.BusinessModel/bin/Debug
/WLYD.TSS.CPortalApi/bin/Debug
/WLYD.TSS.DataAccess/Context
/WLYD.TSS.BusinessModel/bin/Release
/WLYD.TSS.CPortalApi/AuthFileDic/Temp/2019-11-29
/WLYD.TSS.CPortalApi/AuthFileDic/Temp/2019-12-02
/WLYD.TSS.MPortalApi/AuthFileDic/Temp/2019-12-02
/WLYD.TSS.CPortalApi/AuthFileDic/Temp/2019-12-04
/WLYD.TSS.MPortal/ManagementPortal/.vs
/WLYD.TSS.CPortalApi/AuthFileDic/Temp/2019-12-10
/WLYD.TSS.CPortalApi/AuthFileDic/Upload/Files/201912
/WLYD.TSS.MPortalApi/AuthFileDic/Upload/Files/201912
/WLYD.TSS.CPortalApi/AuthFileDic
/WLYD.TSS.MPortalApi/AuthFileDic/Temp/2019-12-12
/发布/datainit/publish
/WLYD.TSS.CPortal-SFYY/node_modules
/WLYD.TSS.CPortal-XMSA/node_modules
/WLYD.TSS.CPortalApi/%~dp0publish
/WLYD.TSS.MPortalApi/.vs/WLYD.TSS.MPortalApi-SFYY/v15
/AuthFile/receiptimages/20191219
/WLYD.TSS.CPortalApi/AuthFile/receiptimages/20191219
/WLYD.TSS.WebAPI/AuthFile/receiptimages/20191219
*.xml
*.xml
*.xml
*.xml
*.xml
*.xml
*.xml
*.xml
/WLYD.TSS.BusinessModel/bin/Debug/*.xml
/netcorewebapi/obj
/netcorewebapi/bin/Debug/netcoreapp3.1
/netcorewebapi/.vs/netcorewebapi
